body {
    margin: 0;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #051e3e;
}

.container {
    min-width: 365px;
    height: 75vh;
    background-color: #251e3e;
}

.display {
    width: 100%;
    height: 20%;
    background-color: #451e3e;
}

.ant {
    height: 50%;
    width: calc(100% - 20px);
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
}

.current {
    height: 50%;
    width: calc(100% - 20px);
    background-color: #651e3e;
    color: white;
    font-weight: bold;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
}

.control {
    display: flex;
    height: 80%;
    width: 100%;
    background-color: white;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    width: calc(100%/3*2);
}

.number {
    border: 2px solid black;
    border-top: none;
    height: calc(100%/4);
    width: calc(100%/3 - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.number0 {
    border: 2px solid black;
    border-top: none;
    height: calc(100%/4);
    width: calc(100% - 12px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.utils {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.util {
    height: calc(50%/4);
    border: 2px solid black;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-left: none;
    border-right: none;
}

.util0 {
    border: 2px solid black;
    border-top: none;
    height: calc(100%/4);
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-left: none;
    border-right: none;
}